<div style="
            font-family:'@ViewBag.FontName';
             font-size:@ViewBag.FontSize;
            color:@ViewBag.Color
            ">
  Hello World!
  <br />
  The following options were selected
  <br />
  Font Name: @ViewBag.FontName
  <br />
  Font Size: @ViewBag.FontSize
  <br />
  Color: @ViewBag.Color
</div>
