@model IEnumerable<GreatWorld.Models.Trip>

<div class="text-center">
    <h1>Great World</h1>
    <h3>This App will allow you to plan world Trips</h3>

    <a class="btn btn-primary" asp-controller="App" asp-action="Trips">My Trips</a>
</div>
